.emptyFeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.questionContainer {
  display: flex;
  border-bottom: 1px solid #f2f1ef;
  padding: 0.5rem 0;
}

.question {
  margin-top: 0.25rem;
}

.question a {
  text-decoration: none;
  color: #000;
}

.question p {
  margin: 0 0 0.5rem 0;
}
